<?php
$item = <<<EOD
  <div class="wrapper">
   <article id="page">
    <header>
     <div id="title"><h1>{$article['title']}</h1></div>
     <div id="pageinfo">
      <span id="auther">作者: <a href="#" title="">{$article['author']}</a></span>
      <span id="hit">点击量: <a href="#" title="">{$article['clicks']}</a></span>
      <span id="from">来源: <a href="#" title="">{$article['source']}</a></span>
      <span id="updatetime">更新时间: <a href="#" title="">{$article['updatetime']}</a></span>
     </div>
    </header>
    <div id="content">
     <div class="content">{$article['content']}</div>
     <nav class="cnav">{$paginations}</nav>
    </div>
    <footer>
     <nav class="pnav">
       <span class="prev">上一篇: <a href="#" title="">{$prev}</a></span>
       <span class="next">下一篇: <a href="#" title="">{$next}</a><span>
     </nav>
     <div id="content-about">
      <div class="final-column">
       <div class="title"><h3>相关内容</h3></div>
       <div class="listtitle">
        <ul>
         <li><a href="#" title="">测试</a></li>
        </ul>
       </div>
      </div>
     </div>
     {$comment}
    </footer>
   </article>
  </div>
EOD;
?>