<?php
$page = <<<EOD
<!DOCTYPE html>
<html>
<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta ></meta>
<link rel="stylesheet" href="template/default/css/style_.css" type="text/css"/>
<script type="text/javascript" src="http://127.0.0.1/template/default/js/js.js"></script>
<script type="text/javascript" src="http://127.0.0.1/template/default/js/js.php"></script>
</head>
<body>
<div id="body">
<!--页眉开始-->
<header id="header">
 <div id="logo"></div>
 <div id="banner"></div>
 <div id="topnav"></div>
</header>
<!--页眉结束-->

<nav id="nav">
 <div  id="topmenu">
  <ul>
   <li><a href="#">首页</a></li>
   <li class="current"><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
  </ul>
 </div>
 <div id="top-panel">
  <ul>
   <li><a href="#">测试</a></li>
   <li><a href="#">#</a></li>
  </ul>
 </div>
</nav>
<nav id="sitepath">
 <div class="sitepath">
  <ul>{$sitepath}</ul>
 </div>
 <div class="search">
  <form id="search_" name="search_" action="search.php" method="post">
   <input name="keywords" type="text" />&nbsp;
   <select name="stype">
    <option value="2">作者</option>
    <option value="1" selected>标题</option>
    <option value="3">内容</option>
   </select>&nbsp;
   <input name="submit" type="submit" value="搜索">
  </form>  
 </div>
</nav>
<!--页面主体-->
<div id="container">
 <div id="main">{$page_body}
 </div>
</div>
<!--页面主体-->

<!--页脚开始-->
<footer id="footer">
 <nav id="fnav">
  <span>
   <a href="">关于我们</a>-
   <a href="">网站地图</a>-
   <a href="">人才招聘</a>-
   <a href="">联系我们</a>
  </span>
 </nav>
 <div id="copyright-en">Copyright © 2013- <a href="#">MyCMS</a>, All Rights Reserved</div>
 <div id="copyright-ch"><a href="#">MyCMS</a> 版权所有</div>
</footer>
<!--页脚结束-->
</div>
<!--script type="text/javascript">
document.getElementById("submit").onclick=commentHandler();
</script-->
</body>
</html>
EOD;
?>