<?php
$comment_html = <<<EOD
     <div id="comment">
      <div class="title">
       <span class="left">我来说说</span>
       <span class="right">共有<span class="red">{$comment_num}</span>条评论，共有<span class="red">{$comment_total}</span>人次参与</span>
      </div>
      <div class="form">
       <form name="comment-from" action="comment.php" method="post" onsubmit="">
        <div id="comment-body">
         <input name="pid" type="hidden" value="{$comment['pid']}">
         <input name="aid" type="hidden" value="{$comment['aid']}">
         <input name="hascomment" type="hidden" value="{$hascomment}">
         <textarea name="comment_content"></textarea>
        </div>
        <div style="height:20px;padding:5px 5px 0 5px;">{$comment_login_html}
         <span class="fright">  
          <input type="button" onclick="commentHandler(this)" value="发表">
         </span>
        </div>
       </form>
      </div>
     </div>
     <div id="listcomment">
      <div class="title">
       <span>最新评论</span>
       <span><a href="">刷新</a></span>
      </div>{$comments}
     </div>
EOD;
?>