<?php
$comment_form = <<<EOD
<div class="form"><form id="reply-form" action="comment.php" method="post" onsubmit=""><div id="reply-body"><input id="pid" name="pid" type="hidden"><input id="aid" name="aid" type="hidden"><input id="hascomment" name="hascomment" type="hidden"><textarea id="comment_content" name="comment_content"></textarea></div><div style="height:20px;padding:5px 5px 0 5px;">{$comment_login_html}<span class="fright"><input id="submit" type="button" onclick="commentHandler(this)" value="发表"></span></div></form><div id="relative"></div></div>
EOD;
?>