<?php
$reply_item = <<<EOD
       <div class="reply">{$replies}
        <div class="wrapper">
         <div class="rtop">
          <span class="left"
         ><a href="user.php?uid={$reply['uid']}">{$reply['username']}</a></span>
          <span class="center">[{$reply['ip']}]</span>
          <span class="right">{$floor}</span>
         </div>
         <div class="comment"><span>{$reply['comment']}</span></div>
         <div class="rbottom">
          <div class="left">{$reply['posttime']}</div>
          <div class="right">
           <a href="">支持({$reply['ding']})</a>
           <a href="javascript:void;" onclick="creatCommentForm({$reply['commentid']}, {$reply['aid']}, {$hascomment}, this)">回复</a>
           <a href="">收藏</a>
           <a href="">分享</a>
          </div>
         </div>
         <div style="clear:both;"></div>
        </div>
       </div>
EOD;
?>