<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <title> CSS+Div实现水平居中对齐的页面布局 </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
body{
background:yellow;
margin:0;
padding:0;
}
 #wrap{
 width:200px;
 margin:0 auto;
 background:red;
 float:left;
}
  </style>
 </head>
<body>
  <div id="wrap">
  在所有浏览器中都有效的方法：
    div#wrap {
 position:relative;
 width:760px;
 left:50%;
 margin-left:-380px;
 border:1px solid #333;
 background-color:#ccc;
  }
  </div>
 gghhhhhhhh <div id="wrap">
  在所有浏览器中都有效的方法：
    div#wrap {
 position:relative;
 width:760px;
 left:50%;
 margin-left:-380px;
 border:1px solid #333;
 background-color:#ccc;
  }
  </div>$gggggghg
 </body>
</html>
