<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta ></meta>
<link rel="stylesheet" href="css/style_.css" type="text/css"/>
<script href=""></script>
</head>
<body>
<div id="body">
<!--页眉开始-->
<header id="header">
 <div id="logo"></div>
 <div id="banner"></div>
 <div id="topnav"></div>
</header>
<!--页眉结束-->

<nav id="nav">
 <div  id="topmenu">
  <ul>
   <li><a href="#">首页</a></li>
   <li class="current"><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
   <li><a href="#">测试</a></li>
  </ul>
 </div>
 <div id="top-panel">
  <ul>
   <li><a href="#">测试</a></li>
   <li><a href="#">#</a></li>
  </ul>
 </div>
</nav>
<nav id="sitepath">
 <div class="sitepath">
  <ul>
   <li><a href="#">首页</a></li>
   <li><a href="#">测试</a></li>
  </ul>
 </div>
 <div class="search">
  <form id="search_" name="search_" action="search.php" method="post">
   <input name="keywords" type="text" />&nbsp;
   <select name="stype">
    <option value="2">作者</option>
    <option value="1" selected>标题</option>
    <option value="3">内容</option>
   </select>&nbsp;
   <input name="submit" type="submit" value="搜索">
  </form>  
 </div>
</nav>
<!--页面主体-->
<div id="container">
 <div id="main">
  <div class="wrapper">
   <article id="page">
    <header>
     <div id="title"><h1>内容标题</h1></div>
     <div id="pageinfo">
      <span id="auther">作者: <a href="#" title="">{$auther}</a></span>
      <span id="hit">点击量: <a href="#" title="">{$hit}</a></span>
      <span id="from">来源: <a href="#" title="">{$fom}</a></span>
      <span id="updatetime">更新时间: <a href="#" title="">{$updatetime}</a></span>
     </div>
    </header>
    <div id="content">
     内容
     <nav class="cnav">
      <a href="#">(1)</a>
      <a href="#">(2)</a>
     </nav>
    </div>
    <footer>
     <nav class="pnav">
       <span class="prev">上一篇: <a href="#" title="">{$prev}$ggggggggg ghhhhhgggg hjjjh hggghhjh hhgfggh hjjjjjj hhggghhjjj</a></span>
       <span class="next">下一篇: <a href="#" title="">{next}</a><span>
     </nav>
     <div id="content-about">
      <div class="final-column">
       <div class="title"><h3>相关内容</h3></div>
       <div class="listtitle">
        <ul>
         <li><a href="#" title="">测试</a></li>
        </ul>
       </div>
      </div>
     </div>
     <div id="comment">
      <div class="title">
       <span class="left">我来说说</span>
       <span class="right">共有<span class="red">{$comment_num}</span>条评论，共有<span class="red">{$comment_total}</span>人次参与</span>
      </div>
      <div class="form">
       <form name="comment-from" action="comment.php" method="post">
        <div>
         <textarea name="comment_content"></textarea>
        </div>
        <div style="height:20px;padding:5px;">
         <span class="fleft">
          <input name="username" type="text" value="用户名">
          <input name="password" type="password" value="密码">
          <input name="remember" type="checkbox" value="1">记住我
         </span>
         <span class="fright">  
          <a href="register.php">注册</a>|<a href="users.php">忘记密码?</a>
          <input type="submit" value="发表">
         </span>
        </div>
       </form>
      </div>
     </div>
     <div id="listcomment">
      <div class="title">
       <span>最新评论</span>
       <span><a href="">刷新</a></span>
      </div>
      <div class="listcomment">
       <div class="top">
        <span class="left"
         ><a href="user.php">{$username}</a></span>
        <span class="center">[{$ip}]</span>
        <span class="right">{$floor}</span>
       </div>
       <div class="reply">{$reply}
        <div class="wrapper">
         <div class="rtop">
          <span class="left"
         ><a href="user.php">{$username}</a></span>
          <span class="center">[{$ip}]</span>
          <span class="right">{$floor}</span>
         </div>
         <div class="comment"><span>{$comment}</span></div>
         <div class="rbottom">
          <div class="left">{$replytime}</div>
          <div class="right">
           <a href="">支持({$ding})</a>
           <a href="">回复</a>
           <a href="">收藏</a>
           <a href="">分享</a>
          </div>
         </div>
         <div style="clear:both;"></div>
        </div>
       </div>
       <div class="currentcomment">
        <span>{$currentcomment}</span>
       </div>
       <div class="bottom">
        <span class="left">{$replytime}</span>
        <span class="right">
         <a href="">支持({$ding})</a>
         <a href="">回复</a>
         <a href="">收藏</a>
         <a href="">分享</a>
        </span>
       </div>
       <div style="clear:both;"></div>
      </div>
     </div>
    </footer>
   </article>
  </div>
  <div class="wrapper">
   <div class="final-column">
    <div class="title"><h3>终极栏目列表</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
   <div class="final-column">
    <div class="title"><h3>终极栏目列表</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
  </div>
  <div class="wrapper">
   <div class="column">
    <div class="title"><h3>栏目列表</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
   <div class="column">
    <div class="title"><h3>栏目列表</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
 <aside id="sidebar">
  <nav class="sidebar">
   <div id="newest">
    <div class="title"><h3>最新文章</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
  </nav>
  <nav class="sidebar">
   <div id="hot">
    <div class="title"><h3>热门文章</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
  </nav>
  <nav class="sidebar">
   <div id="commend">
    <div class="title"><h3>推荐文章</h3></div>
    <div class="listtitle">
     <ul>
      <li><a href="#" title="">测试</a></li>
     </ul>
    </div>
   </div>
  </nav>
 </aside>
</div>
<!--页面主体-->

<!--页脚开始-->
<footer id="footer">
 <nav id="fnav">
  <span>
   <a href="">网站地图</a>-
   <a href="">人才招聘</a>-
   <a href="">关于我们</a>-
   <a href="">联系我们</a>
  </span>
 </nav>
 <div id="copyright-en">Copyright © 2013- <a href="#">MyCMS</a>, All Rights Reserved</div>
 <div id="copyright-ch"><a href="#">MyCMS</a> 版权所有</div>
</footer>
<!--页脚结束-->
</div>
</body>
</html>