<!DOCTYPE html>
<html lang="zh">
<head>
<title>示例</title>
<link rel="stylesheet" type="text/css" href="css/example.css">
  <meta charset="utf8">
<script src="js/example.js"></script>
<style type="text/css">
  .title ul{
    list-style: none;
	margin: 0;
	padding: 0;
  }
  .title li{
    display: inline;
	margin: 0;
	border: 1px solid red;
  }
</style>
</head>
  <body>
	<div>
	  <div class="title">
		<ul>
		  <li><a href="">test</a></li>
		  <li><a href="">test</a></li>
		  <li><a href="">test</a></li>
		</ul>
	  </div>
	  <div class="content">test</div>
	</div>
  </body>
</html>

