<?php
$login_html = <<<EOD
                    <form id="form" action="login.php?action=login" method="post">
                      <fieldset id="personal">
                        <legend>(*)以下选项为必填选项,请认真填写</legend>
                        <label for="username">用户名 : </label> 
                        <input name="username" id="username" type="text" tabindex="1" />
                        <br />
                        <label for="password">密码 : </label>
                        <input name="password" id="password" type="password" 
                        tabindex="2" />
						<p>
							<input type="checkbox" id="remember" class="" value="1" name="remember"/>
							<label class="choice" for="remember">记住我?</label>
						</p>
                      </fieldset>
                      <div align="center">
                      <input id="submit" type="submit" onclick=""  value="登录"/> 
                      </div>
                    </form>
EOD;
?>