<!DOCTYPE html>
<html lang="zh">
  <head>
	<title>标题</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="MyCMS">
	<meta name="keywords" content="MyCMS,PHP,CMS,麦草CMS,面向对象,内容管理">
	<meta name="description" content="MyCMS（麦草CMS）是一个短小精悍的内容管理系统（CMS），用PHP语言编写，用了面向对象的语言结构。">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<script type="text/javascript" src=""></script>
  </head>
  <body>
	<div id="wrapper">
	  <!--侧边栏开始-->
	  <div id="aside">
		<div id="logo2">麦草CMS</div>
		<div id="asideMenu">
		<!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><a href="">概览</a></div>
			<!--<div class="asideMenuItems"></div>-->
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><a href="">表单</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				 <li><a href="">表单</a></li>
				 <li><a href="">在线编辑器</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><a href="">表格</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="">表格</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><a href="">信息框</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="">信息框</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><a href="">盒子</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="">盒子</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		</div>
      </div>
	  <!--侧边栏结束-->
	  <div id="main">
		<div id="pageHeader">
		  <div id="crumbs"><a href="">首页</a>&gt;&gt;<a href="">概览</a></div>
		</div>
		<div id="pageBody">
		  <!--开始-->
		  <div class="boxWrapper">
			<div class="box">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<div class="hidden"></div>
		  </div>
		  <!--结束-->
		</div>
		<div id="pageFooter">页脚</div>
	  </div>
	  <div class="hidden"></div>
	</div>
	<script src="js/core.js"> 
	</script>
	<script>
	</script>
  </body>
</html>
